body.page-accesorios h1#page-title {
  color: #818181;
  padding: 5px 0 0 45px;
  font-size: 30px; }
body.page-accesorios .view-accesorios-de-productos {
  padding: 9px 0 0 46px; }
  body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-widget-filter-field_accesorio_aparato_tid {
    padding: 5px 0 0 0; }
    body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-widget-filter-field_accesorio_aparato_tid input.form-text {
      margin-top: 7px;
      width: 267px;
      border: 1px solid #818181;
      height: 18px; }
  body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-submit-button {
    padding: 7px 0 0 33px; }
    body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-submit-button input {
      background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px;
      background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
      background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcf6), color-stop(100%, #b2ca72));
      background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
      background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
      background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
      background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #fafcf6 0%, #b2ca72 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 );
      border: 1px solid #c5c6c8;
      border-radius: 20px;
      padding: 4px 22px 2px 13px;
      background: #fdfefd url(../images/sprites.png) no-repeat 34px -84px;
      background: url(../images/sprites.png) no-repeat 34px -84px, -moz-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
      background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefd), color-stop(100%, #dfe0e1));
      background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
      background: url(../images/sprites.png) no-repeat 34px -84px, -o-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
      background: url(../images/sprites.png) no-repeat 34px -84px, -ms-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
      background: url(../images/sprites.png) no-repeat 34px -84px, linear-gradient(to bottom, #fdfefd 0%, #dfe0e1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 );
      padding: 5px 27px 4px 13px; }
      body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-submit-button input:hover {
        background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px;
        background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6ef), color-stop(100%, #7c9443));
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #f5f6ef 0%, #7c9443 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 ); }
      body.page-accesorios .view-accesorios-de-productos .views-exposed-widget.views-submit-button input:hover {
        background: #fdfdfd url(../images/sprites.png) no-repeat 34px -84px;
        background: url(../images/sprites.png) no-repeat 34px -84px, -moz-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
        background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #aeaeae));
        background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
        background: url(../images/sprites.png) no-repeat 34px -84px, -o-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
        background: url(../images/sprites.png) no-repeat 34px -84px, -ms-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
        background: url(../images/sprites.png) no-repeat 34px -84px, linear-gradient(to bottom, #fdfdfd 0%, #aeaeae 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 ); }
  body.page-accesorios .view-accesorios-de-productos .view-content {
    margin-top: 50px; }
  body.page-accesorios .view-accesorios-de-productos .views-view-grid {
    border-width: 0; }
    body.page-accesorios .view-accesorios-de-productos .views-view-grid .col-1 {
      border-right: 1px dashed #818181; }
    body.page-accesorios .view-accesorios-de-productos .views-view-grid .col-3 {
      border-left: 1px dashed #818181; }
    body.page-accesorios .view-accesorios-de-productos .views-view-grid tr:nth-child(2n+2) {
      background-color: transparent; }
    body.page-accesorios .view-accesorios-de-productos .views-view-grid td {
      border-top: 1px dashed #818181;
      position: relative;
      vertical-align: top;
      margin: 0;
      width: 200px;
      overflow: hidden;
      text-align: center; }
      body.page-accesorios .view-accesorios-de-productos .views-view-grid td .title a {
        color: #727272; }
      body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-field-accesorio-descripcion {
        font-size: 11px;
        color: #818181; }
      body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-title {
        text-align: left;
        padding-left: 20px;
        font-size: 11px; }
      body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-commerce-price {
        font-size: 18px;
        font-weight: normal;
        padding-left: 18px;
        text-align: left;
        color: #727272;
        float: left; }
      body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-add-to-cart-form {
        width: 200px;
        display: block;
        bottom: 10px;
        right: 10px; }
        body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-add-to-cart-form .form-submit {
          background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px;
          background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcf6), color-stop(100%, #b2ca72));
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #fafcf6 0%, #b2ca72 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 );
          border: 1px solid #c5c6c8;
          border-radius: 20px;
          padding: 4px 22px 2px 13px;
          background: #fdfefd url(../images/sprites.png) no-repeat 16px -82px;
          background: url(../images/sprites.png) no-repeat 16px -82px, -moz-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefd), color-stop(100%, #dfe0e1));
          background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -o-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -ms-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, linear-gradient(to bottom, #fdfefd 0%, #dfe0e1 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 );
          background-position: 67px -87px;
          font-size: 10px; }
          body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-add-to-cart-form .form-submit:hover {
            background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px;
            background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6ef), color-stop(100%, #7c9443));
            background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #f5f6ef 0%, #7c9443 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 ); }
          body.page-accesorios .view-accesorios-de-productos .views-view-grid td .views-field-add-to-cart-form .form-submit:hover {
            background: #fdfdfd url(../images/sprites.png) no-repeat 16px -82px;
            background: url(../images/sprites.png) no-repeat 16px -82px, -moz-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #aeaeae));
            background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 16px -82px, -o-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 16px -82px, -ms-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 16px -82px, linear-gradient(to bottom, #fdfdfd 0%, #aeaeae 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 ); }

body.page-node-65 {
  background: url("images/Registrarse-particular.jpg") no-repeat scroll center 28px transparent; }
  body.page-node-65 .region-two-50-first {
    width: 375px;
    border: 1px solid #818181; }
    body.page-node-65 .region-two-50-first #edit-name, body.page-node-65 .region-two-50-first #edit-mail {
      width: 350px; }
  body.page-node-65 .region-two-50-second {
    float: right;
    width: 275px;
    border: 1px solid #818181; }

/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

/* Region Colors. delete when starting a new theme. */
#header, #footer {
  background: #efefef; }

#sidebar-first {
  background: #e7edff; }

#sidebar-second {
  background: #ffd075; }

#navigation {
  background: #feffa5; }

/* Import of custom styles */
body {
  background: transparent url(images/bodybg.png) repeat-x center top; }

#content-column .content-inner {
  padding-left: 20px; }

#header, #footer {
  background: transparent; }

h2.block-title {
  color: #818181; }

label {
  color: #727272; }

#block-easy-breadcrumb-easy-breadcrumb {
  border-bottom: 1px solid #727272;
  height: 30px; }
  #block-easy-breadcrumb-easy-breadcrumb span {
    display: block;
    float: left;
    padding-right: 5px; }
  #block-easy-breadcrumb-easy-breadcrumb .easy-breadcrumb_segment-front {
    background: url("../images/sprites.png") no-repeat scroll -12px -8px, none repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    overflow: hidden;
    text-indent: -999em;
    width: 30px; }

#header #branding {
  float: left;
  margin: 30px 0 0 -5px; }
  #header #branding #logo {
    padding: 0; }
#header .region-header {
  float: right; }
  #header .region-header #block-block-2 {
    margin: 47px 0 0; }
    #header .region-header #block-block-2 a {
      color: #818181;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: transparent url("../images/sprites.png") no-repeat 53px -48px;
      padding: 0 28px 0 0;
      margin: 0 0 0 33px; }
      #header .region-header #block-block-2 a:first-child {
        padding: 0;
        background: none;
        margin: 0 0 0 56px; }
  #header .region-header #block-webform-client-block-2 {
    margin: 14px 0 0; }
    #header .region-header #block-webform-client-block-2 #webform-client-form-2 #webform-component-subtitulo {
      color: #818181;
      font-size: 11px;
      margin: 0 0 0 6px; }
    #header .region-header #block-webform-client-block-2 #webform-client-form-2 .form-item {
      margin: 5px 0 0; }
      #header .region-header #block-webform-client-block-2 #webform-client-form-2 .form-item label {
        margin: 0;
        position: relative;
        display: inline-block;
        width: 56px; }
        #header .region-header #block-webform-client-block-2 #webform-client-form-2 .form-item label span {
          position: absolute;
          top: 0;
          right: -6px; }
      #header .region-header #block-webform-client-block-2 #webform-client-form-2 .form-item input {
        width: 110px;
        height: 12px;
        border: 1px solid #dbd8d8;
        margin: 0 0 0 3px; }
    #header .region-header #block-webform-client-block-2 #webform-client-form-2:first-child {
      margin: 0 0 0 9px; }
    #header .region-header #block-webform-client-block-2 #webform-client-form-2 #webform-component-telefono {
      float: left;
      width: 180px; }
    #header .region-header #block-webform-client-block-2 #edit-actions {
      float: right;
      margin: 2px 0 0;
      width: 89px; }
      #header .region-header #block-webform-client-block-2 #edit-actions input {
        background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px;
        background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcf6), color-stop(100%, #b2ca72));
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #fafcf6 0%, #b2ca72 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 );
        border: 1px solid #c5c6c8;
        border-radius: 20px;
        padding: 4px 22px 2px 13px; }
        #header .region-header #block-webform-client-block-2 #edit-actions input:hover {
          background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px;
          background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6ef), color-stop(100%, #7c9443));
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #f5f6ef 0%, #7c9443 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 ); }

#columns {
  margin: 35px 0 0; }
  #columns .region-sidebar-first {
    border-bottom: 3px solid #9a999e;
    margin: 35px 0 0 -100%;
    padding: 10px 15px 0;
    width: 273px;
    background-color: #f0f0f0; }
    #columns .region-sidebar-first .block, #columns .region-sidebar-first .block-inner {
      margin: 0; }
    #columns .region-sidebar-first #block-commerce-cart-cart {
      border-bottom: 2px dotted #9a999e;
      height: 173px; }
      #columns .region-sidebar-first #block-commerce-cart-cart h2 {
        letter-spacing: 2px; }
    #columns .region-sidebar-first #block-block-1 {
      margin: 13px 0 0;
      height: 100px;
      border-bottom: 2px dotted #9a999e; }
      #columns .region-sidebar-first #block-block-1 .block-content {
        margin: 22px 0 0; }
      #columns .region-sidebar-first #block-block-1 a {
        background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px;
        background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcf6), color-stop(100%, #b2ca72));
        background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
        background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #fafcf6 0%, #b2ca72 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 );
        border: 1px solid #c5c6c8;
        border-radius: 20px;
        padding: 4px 22px 2px 13px;
        background: #fdfefd url(../images/sprites.png) no-repeat 16px -82px;
        background: url(../images/sprites.png) no-repeat 16px -82px, -moz-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
        background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefd), color-stop(100%, #dfe0e1));
        background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
        background: url(../images/sprites.png) no-repeat 16px -82px, -o-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
        background: url(../images/sprites.png) no-repeat 16px -82px, -ms-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
        background: url(../images/sprites.png) no-repeat 16px -82px, linear-gradient(to bottom, #fdfefd 0%, #dfe0e1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 );
        color: #666666; }
        #columns .region-sidebar-first #block-block-1 a:hover {
          background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px;
          background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6ef), color-stop(100%, #7c9443));
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #f5f6ef 0%, #7c9443 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 ); }
        #columns .region-sidebar-first #block-block-1 a:hover {
          background: #fdfdfd url(../images/sprites.png) no-repeat 16px -82px;
          background: url(../images/sprites.png) no-repeat 16px -82px, -moz-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #aeaeae));
          background: url(../images/sprites.png) no-repeat 16px -82px, -webkit-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -o-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, -ms-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
          background: url(../images/sprites.png) no-repeat 16px -82px, linear-gradient(to bottom, #fdfdfd 0%, #aeaeae 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 ); }
    #columns .region-sidebar-first #block-views-exp-terminos-page-1 {
      padding: 15px 0 0; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 input[type="text"] {
        border: 1px solid #b1b1b1;
        height: 20px;
        margin: 8px 0 0;
        padding: 0 0 0 9px;
        width: 95%;
        background: white; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 h2 {
        background: transparent url("../images/logojunkers.png") no-repeat 127px 12px; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 #views-exposed-form-terminos-page-1 .views-exposed-widget {
        width: 100%; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 #views-exposed-form-terminos-page-1 .views-widget-filter-field_aparatos_modelo_value {
        margin: 10px 0 0; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 #edit-field-aparatos-codigo-value-wrapper {
        margin: 22px 0 0; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 #edit-name-wrapper {
        margin: 15px 0 0; }
      #columns .region-sidebar-first #block-views-exp-terminos-page-1 .views-submit-button {
        padding: 0; }
        #columns .region-sidebar-first #block-views-exp-terminos-page-1 .views-submit-button input {
          background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px;
          background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcf6), color-stop(100%, #b2ca72));
          background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #fafcf6 0%, #b2ca72 100%);
          background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #fafcf6 0%, #b2ca72 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 );
          border: 1px solid #c5c6c8;
          border-radius: 20px;
          padding: 4px 22px 2px 13px;
          background: #fdfefd url(../images/sprites.png) no-repeat 34px -84px;
          background: url(../images/sprites.png) no-repeat 34px -84px, -moz-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefd), color-stop(100%, #dfe0e1));
          background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 34px -84px, -o-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 34px -84px, -ms-linear-gradient(top, #fdfefd 0%, #dfe0e1 100%);
          background: url(../images/sprites.png) no-repeat 34px -84px, linear-gradient(to bottom, #fdfefd 0%, #dfe0e1 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 );
          padding: 5px 22px 4px 13px; }
          #columns .region-sidebar-first #block-views-exp-terminos-page-1 .views-submit-button input:hover {
            background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px;
            background: url(../images/sprites.png) no-repeat 48px -84px, -moz-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6ef), color-stop(100%, #7c9443));
            background: url(../images/sprites.png) no-repeat 48px -84px, -webkit-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -o-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, -ms-linear-gradient(top, #f5f6ef 0%, #7c9443 100%);
            background: url(../images/sprites.png) no-repeat 48px -84px, linear-gradient(to bottom, #f5f6ef 0%, #7c9443 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 ); }
          #columns .region-sidebar-first #block-views-exp-terminos-page-1 .views-submit-button input:hover {
            background: #fdfdfd url(../images/sprites.png) no-repeat 34px -84px;
            background: url(../images/sprites.png) no-repeat 34px -84px, -moz-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #aeaeae));
            background: url(../images/sprites.png) no-repeat 34px -84px, -webkit-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 34px -84px, -o-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 34px -84px, -ms-linear-gradient(top, #fdfdfd 0%, #aeaeae 100%);
            background: url(../images/sprites.png) no-repeat 34px -84px, linear-gradient(to bottom, #fdfdfd 0%, #aeaeae 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 ); }

#main-content {
  margin-left: 0;
  margin-right: 0; }

#footer {
  background: transparent url(images/bgfooter.png) repeat-x center top;
  padding-top: 10px; }
  #footer .region-footer {
    width: 1024px;
    margin: 0 auto; }
