body.page-accesorios
    h1#page-title
        color: $gris_claro
        padding: 5px 0 0 45px
        font-size: 30px
    .view-accesorios-de-productos
        padding: 9px 0 0 46px
        .views-exposed-widget.views-widget-filter-field_accesorio_aparato_tid
            padding: 5px 0 0 0
            input.form-text
                margin-top: 7px
                width: 267px
                border: 1px solid $gris_claro
                height: 18px
        .views-exposed-widget.views-submit-button
            padding: 7px 0 0 33px
            input
                @include rounded_button_gray_search
                padding: 5px 27px 4px 13px
        .view-content
            margin-top: 50px
        .views-view-grid
            border-width: 0
            .col-1
                border-right: 1px dashed $gris_claro
            .col-3
                border-left: 1px dashed $gris_claro
            tr:nth-child(2n+2)
                background-color: transparent
            td
                border-top: 1px dashed $gris_claro
                position: relative
                vertical-align: top
                margin: 0
                width: 200px
                overflow: hidden
                text-align: center
                .title
                    a
                        color: $gris_oscuro
                .views-field-field-accesorio-descripcion
                    font-size: 11px
                    color: $gris_claro
                .views-field-title
                    text-align: left
                    padding-left: 20px
                    font-size: 11px
                .views-field-commerce-price
                    font-size: 18px
                    font-weight: normal
                    padding-left: 18px
                    text-align: left
                    color: $gris_oscuro
                    float: left
                .views-field-add-to-cart-form
                    width: 200px
                    display: block
                    bottom: 10px
                    right: 10px
                    .form-submit
                        @include rounded_button_gray
                        background-position: 67px -87px
                        font-size: 10px
                       