body.page-node-65
    background: url("images/Registrarse-particular.jpg") no-repeat scroll center 28px transparent
    .region-two-50-first
        width: 375px
        border: 1px solid $gris_claro
        #edit-name, #edit-mail
            width: 350px
    .region-two-50-second
        float: right
        width: 275px
        border: 1px solid $gris_claro