body
  background: transparent url(images/bodybg.png) repeat-x center top
#content-column .content-inner
  padding-left: 20px
#header, #footer
  background: transparent
h2.block-title
  color: $gris_claro
label
  color: $gris_oscuro
#block-easy-breadcrumb-easy-breadcrumb
  border-bottom: 1px solid $gris_oscuro
  height: 30px
  span
    display: block
    float: left
    padding-right: 5px
  .easy-breadcrumb_segment-front
    background: url("../images/sprites.png") no-repeat scroll -12px -8px, none repeat scroll 0 0 transparent
    display: block
    height: 22px
    overflow: hidden
    text-indent: -999em
    width: 30px
#header
  #branding
    float: left
    margin: 30px 0 0 -5px
    #logo
      padding: 0
  .region-header
    float: right
    #block-block-2
      margin: 47px 0 0
      a
        color: #818181
        letter-spacing: 1px
        text-transform: uppercase
        background: transparent url("../images/sprites.png") no-repeat 53px -48px
        padding: 0 28px 0 0
        margin: 0 0 0 33px
        &:first-child
          padding: 0
          background: none
          margin: 0 0 0 56px
    #block-webform-client-block-2
      margin: 14px 0 0
      #webform-client-form-2
        #webform-component-subtitulo
          color: $gris_claro
          font-size: 11px
          margin: 0 0 0 6px
        .form-item
          margin: 5px 0 0
          label
            margin: 0
            position: relative
            display: inline-block
            width: 56px
            span
              position: absolute
              top: 0
              right: -6px
          input
            width: 110px
            height: 12px
            border: 1px solid #dbd8d8
            margin: 0 0 0 3px
        &:first-child
          margin: 0 0 0 9px
        #webform-component-telefono
          float: left
          width: 180px
      #edit-actions
        float: right
        margin: 2px 0 0
        width: 89px
        input
          @include rounded_button
#columns
  margin: 35px 0 0
  .region-sidebar-first
    border-bottom: 3px solid #9a999e
    margin: 35px 0 0 -100%
    padding: 10px 15px 0
    width: 273px
    background-color: $fondo_sidebar
    .block, .block-inner
      margin: 0
    #block-commerce-cart-cart
      border-bottom: 2px dotted #9a999e
      height: 173px
      h2
        letter-spacing: 2px
    #block-block-1
      margin: 13px 0 0
      height: 100px
      border-bottom: 2px dotted #9a999e
      .block-content
        margin: 22px 0 0
      a
        @include rounded_button_gray
        color: #666
    #block-views-exp-terminos-page-1
      padding: 15px 0 0
      input[type="text"]
        border: 1px solid #B1B1B1
        height: 20px
        margin: 8px 0 0
        padding: 0 0 0 9px
        width: 95%
        background: #fff
      h2
        background: transparent url("../images/logojunkers.png") no-repeat 127px 12px
      #views-exposed-form-terminos-page-1
        .views-exposed-widget
          width: 100%
        .views-widget-filter-field_aparatos_modelo_value
          margin: 10px 0 0
      #edit-field-aparatos-codigo-value-wrapper
        margin: 22px 0 0
      #edit-name-wrapper
        margin: 15px 0 0
      .views-submit-button
        padding: 0
        input
          @include rounded_button_gray_search
          padding: 5px 22px 4px 13px
#main-content
  margin-left: 0
  margin-right: 0
#footer
  background: transparent url(images/bgfooter.png) repeat-x center top
  padding-top: 10px
  .region-footer
    width: 1024px
    margin: 0 auto