// Mixins
// ------
// Mixins allow you to define styles that can be re-used 
// throughout the stylesheet without needing to resort to 
// non-semantic classes like .float-left. Mixins can also
// contain full CSS rules, and anything else allowed 
// elsewhere in a Sass document. They can even take 
// arguments which allows you to produce a wide variety 
// of styles with very few mixins. 
//
// For complete documentation: 
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins

// Import variables for use in Mixins.
@import _variables.sass

// Rounded corners mixin.
@mixin rounded_corners($top: 10px, $right: 10px, $bottom: $top, $left: $right)
	border-radius: $top $right $bottom $left
	-moz-border-radius: $top $right $bottom $left
	-webkit-border-top-left-radius: $top
	-webkit-border-top-right-radius: $right
	-webkit-border-bottom-left-radius: $bottom
	-webkit-border-bottom-right-radius: $left
@mixin rounded_button
	background: #fafcf6 url(../images/sprites.png) no-repeat 48px -84px 
	background: url(../images/sprites.png) no-repeat 48px -84px , -moz-linear-gradient(top,  #fafcf6 0%, #b2ca72 100%)
	background: url(../images/sprites.png) no-repeat 48px -84px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafcf6), color-stop(100%,#b2ca72))
	background: url(../images/sprites.png) no-repeat 48px -84px , -webkit-linear-gradient(top,  #fafcf6 0%,#b2ca72 100%)
	background: url(../images/sprites.png) no-repeat 48px -84px , -o-linear-gradient(top,  #fafcf6 0%,#b2ca72 100%)
	background: url(../images/sprites.png) no-repeat 48px -84px , -ms-linear-gradient(top,  #fafcf6 0%,#b2ca72 100%)
	background: url(../images/sprites.png) no-repeat 48px -84px , linear-gradient(to bottom,  #fafcf6 0%,#b2ca72 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcf6', endColorstr='#b2ca72',GradientType=0 )
	border: 1px solid #c5c6c8
	border-radius: 20px
	padding: 4px 22px 2px 13px
	&:hover
		background: #f5f6ef url(../images/sprites.png) no-repeat 48px -84px 
		background: url(../images/sprites.png) no-repeat 48px -84px , -moz-linear-gradient(top,  #f5f6ef 0%, #7c9443 100%)
		background: url(../images/sprites.png) no-repeat 48px -84px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6ef), color-stop(100%,#7c9443))
		background: url(../images/sprites.png) no-repeat 48px -84px , -webkit-linear-gradient(top,  #f5f6ef 0%,#7c9443 100%)
		background: url(../images/sprites.png) no-repeat 48px -84px , -o-linear-gradient(top,  #f5f6ef 0%,#7c9443 100%)
		background: url(../images/sprites.png) no-repeat 48px -84px , -ms-linear-gradient(top,  #f5f6ef 0%,#7c9443 100%)
		background: url(../images/sprites.png) no-repeat 48px -84px , linear-gradient(to bottom,  #f5f6ef 0%,#7c9443 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6ef', endColorstr='#7c9443',GradientType=0 )
@mixin rounded_button_gray
	@include rounded_button
	background: #fdfefd url(../images/sprites.png) no-repeat 16px -82px 
	background: url(../images/sprites.png) no-repeat 16px -82px , -moz-linear-gradient(top,  #fdfefd 0%, #dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 16px -82px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefd), color-stop(100%,#dfe0e1))
	background: url(../images/sprites.png) no-repeat 16px -82px , -webkit-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 16px -82px , -o-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 16px -82px , -ms-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 16px -82px , linear-gradient(to bottom,  #fdfefd 0%,#dfe0e1 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 )
	&:hover
		background: #fdfdfd url(../images/sprites.png) no-repeat 16px -82px 
		background: url(../images/sprites.png) no-repeat 16px -82px , -moz-linear-gradient(top,  #fdfdfd 0%, #aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 16px -82px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#aeaeae))
		background: url(../images/sprites.png) no-repeat 16px -82px , -webkit-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 16px -82px , -o-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 16px -82px , -ms-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 16px -82px , linear-gradient(to bottom,  #fdfdfd 0%,#aeaeae 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 )
@mixin rounded_button_gray_search
	@include rounded_button
	background: #fdfefd url(../images/sprites.png) no-repeat 34px -84px 
	background: url(../images/sprites.png) no-repeat 34px -84px , -moz-linear-gradient(top,  #fdfefd 0%, #dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 34px -84px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefd), color-stop(100%,#dfe0e1))
	background: url(../images/sprites.png) no-repeat 34px -84px , -webkit-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 34px -84px , -o-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 34px -84px , -ms-linear-gradient(top,  #fdfefd 0%,#dfe0e1 100%)
	background: url(../images/sprites.png) no-repeat 34px -84px , linear-gradient(to bottom,  #fdfefd 0%,#dfe0e1 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefd', endColorstr='#dfe0e1',GradientType=0 )
	&:hover
		background: #fdfdfd url(../images/sprites.png) no-repeat 34px -84px 
		background: url(../images/sprites.png) no-repeat 34px -84px , -moz-linear-gradient(top,  #fdfdfd 0%, #aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 34px -84px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#aeaeae))
		background: url(../images/sprites.png) no-repeat 34px -84px , -webkit-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 34px -84px , -o-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 34px -84px , -ms-linear-gradient(top,  #fdfdfd 0%,#aeaeae 100%)
		background: url(../images/sprites.png) no-repeat 34px -84px , linear-gradient(to bottom,  #fdfdfd 0%,#aeaeae 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#aeaeae',GradientType=0 )
